{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/css/style.css' %}">    
    <title>MiniMarket</title>
</head>

<header id="container">
    <div id="nav-bar">
      <div id="nav-belt">
        <div class="nav-left">
          <div id="nav-logo">
            <a href="/">LOGO</a>
          </div>
        </div>
        <div class="nav-fill">
          <div id="nav-search">
            <form id="nav-search-bar-form">
              <div class="nav-left">
                <a href="">ALL</a>
              </div>
              <div class="nav-fill">
                <input type="text">
              </div>
              <div class="nav-right">
                <button type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="nav-right">
          <div id="nav-tools">
            <a href="/">Language</a>
            <a href="/">Log in</a>
            <a href="/">Cart</a>
          </div>
        </div>
      </div>
      <div id="nav-main">
        <!--<ul>
          <li><a href="/">xxx</a></li>
          <li><a href="#">Two</a>
            <ul class="dropdown">
              <li><a href="#">Sub-1</a></li>
              <li><a href="#">Sub-2</a></li>
              <li><a href="#">Sub-3</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div>
    </div>
  </header>

<br>
<br>
<br>
<br>
<br>

<body>
  <div class="container">
    <div class="card">
      <h2>Catálogo de Productos</h2>
      <div class="product-grid">
        <div class="product">
          <div class="product-image">
            <img src="img/durazno.jpg" alt="Durazno">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Durazno</h3>
            <p>Descripción: El kilo de durazno</p>
            <p class="price">$1.500</p>
            <button class="add-to-cart" onclick="addToCart('Durazno', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/kiwi.jpg" alt="Kiwi">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Kiwi</h3>
            <p>Descripción: El kilo de Kiwi</p>
            <p class="price">$1.400</p>
            <button class="add-to-cart" onclick="addToCart('Kiwi', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/Naranja.png" alt="Naranja">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Naranja</h3>
            <p>Descripción: El kilo de Naranja</p>
            <p class="price">$1.500</p>
            <button class="add-to-cart" onclick="addToCart('Naranja', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/zanahoria.jpg" alt="zanahoria">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>zanahoria</h3>
            <p>Descripción: El kilo de Zanahoria</p>
            <p class="price">$800</p>
            <button class="add-to-cart" onclick="addToCart('zanahoria', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
            <div class="product-image">
              <img src="img/pera.jpg" alt="Pera">
            </div>
            <div class="spacer"></div>
            <div class="product-details">
              <h3>Pera</h3>
              <p>Descripción: El kilo de Pera</p>
              <p class="price">$1000</p>
              <button class="add-to-cart" onclick="addToCart('Pera', this)">Añadir al carrito</button>
            </div>
          </div>
          <div class="product">
            <div class="product-image">
              <img src="img/piña.jpg" alt="Piña">
            </div>
            <div class="spacer"></div>
            <div class="product-details">
              <h3>Piña</h3>
              <p>Descripción: La Piña fresca </p>
              <p class="price">$1.600</p>
              <button class="add-to-cart" onclick="addToCart('Piña', this)">Añadir al carrito</button>
            </div>
          </div>
          <div class="product">
            <div class="product-image">
              <img src="img/tomates.jpg" alt="tomates">
            </div>
            <div class="spacer"></div>
            <div class="product-details">
              <h3>Tomates</h3>
              <p>Descripción: El kilo de tomates </p>
              <p class="price">$1.700</p>
              <button class="add-to-cart" onclick="addToCart('tomates', this)">Añadir al carrito</button>
            </div>
          </div>
          <div class="product">
            <div class="product-image">
              <img src="img/papas.jpg" alt="papas">
            </div>
            <div class="spacer"></div>
            <div class="product-details">
              <h3>papas</h3>
              <p>Descripción: El kilo de papas</p>
              <p class="price">$1.300</p>
              <button class="add-to-cart" onclick="addToCart('papas', this)">Añadir al carrito</button>
            </div>
          </div>
        <!-- Agrega más elementos de producto aquí -->
      </div>
    </div>
    <div class="cart" id="cart-container" style="display: none;">
      <h2>Carrito de Compras</h2>
      <ul id="cart-items"></ul>
      <p id="cart-total"></p>
      <button class="checkout" onclick="checkout()">Realizar Compra</button>
    </div>
  </div>

  <script src="{% static 'Scripts/scrip.js' %}"></script>

  
</body>

</html>