{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/css/style.css' %}">

    <title>MiniMarket</title>

</head>

<header id="container">
  <div id="nav-bar">
    <div id="nav-belt">
      <div class="nav-left">
        <div id="nav-logo">
          <a href="/">LOGO</a>
        </div>
      </div>
      <div class="nav-fill">
        <div id="nav-search">
          <form id="nav-search-bar-form">
            <div class="nav-left">
              <a href="">ALL</a>
            </div>
            <div class="nav-fill">
              <input type="text">
            </div>
            <div class="nav-right">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-right">
        <div id="nav-tools">
          <a href="/">Language</a>
          <a href="/">Log in</a>
          <a href="/">Cart</a>
        </div>
      </div>
    </div>
    <div id="nav-main">
      <!--<ul>
        <li><a href="/">xxx</a></li>
        <li><a href="#">Two</a>
          <ul class="dropdown">
            <li><a href="#">Sub-1</a></li>
            <li><a href="#">Sub-2</a></li>
            <li><a href="#">Sub-3</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div>
  </div>
</header>

<br>
<br>
<br>
<br>
<br>

<body>

  <script src="{% static 'core/js/scrip.js' %}"></script>

  <div class="container">
    <div class="card">
      <h2>Catálogo de Productos</h2>
      <div class="product-grid">
        <div class="product">
          <div class="product-image">
            <img src="img/pack-becker.jpg" alt="pack becker">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Pack Becker</h3>
            <p>Descripción: Pack cervezas becker</p>
            <p class="price">$14.000</p>
            <button class="add-to-cart" onclick="addToCart('pack becker', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/cristal.png" alt="Cristal">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Cristal</h3>
            <p>Descripción: Cerveza cristal por unidad</p>
            <p class="price">$2.300</p>
            <button class="add-to-cart" onclick="addToCart('cristal', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/PISCOmistral.jpg" alt="Mistral">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Mistral</h3>
            <p>Descripción: Pisco mistral por unidad</p>
            <p class="price">$4.000</p>
            <button class="add-to-cart" onclick="addToCart('Mistral', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/royal.jpg" alt="Royal">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Royal</h3>
            <p>Descripción: Pack Cervaza Royal por unidad<p>
            <p class="price">$2.500</p>
            <button class="add-to-cart" onclick="addToCart('royal', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/alto del carmen.png" alt="alto del carmen">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Alto del carmen</h3>
            <p>Descripción: El pisco Alto del carmen </p>
            <p class="price">$2.500</p>
            <button class="add-to-cart" onclick="addToCart('Alto del carmen', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/Campanario.jpg" alt="Campanario">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Campanario</h3>
            <p>Descripción: El pisco del campanario </p>
            <p class="price">$1.600</p>
            <button class="add-to-cart" onclick="addToCart('Campanario', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/capel.jpg" alt="capel">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Capel</h3>
            <p>Descripción: El pisco del capel </p>
            <p class="price">$1.700</p>
            <button class="add-to-cart" onclick="addToCart('capel', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/kunstman.jpg" alt="kunstman">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>kunstman</h3>
            <p>Descripción: La cerveza kunstman</p>
            <p class="price">$1.800</p>
            <button class="add-to-cart" onclick="addToCart('kunstman', this)">Añadir al carrito</button>
          </div>
        </div>
        <!-- Agrega más elementos de producto aquí -->
      </div>
    </div>
    <div class="cart" id="cart-container" style="display: none;">
      <h2>Carrito de Compras</h2>
      <ul id="cart-items"></ul>
      <p id="cart-total"></p>
      <button class="checkout" onclick="checkout()">Realizar Compra</button>
    </div>
  </div>



</body>

</html>