{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/css/style.css' %}">
    <title>MiniMarket</title>
</head>

<header id="container">
  <div id="nav-bar">
    <div id="nav-belt">
      <div class="nav-left">
        <div id="nav-logo">
          <a href="/">LOGO</a>
        </div>
      </div>
      <div class="nav-fill">
        <div id="nav-search">
          <form id="nav-search-bar-form">
            <div class="nav-left">
              <a href="">ALL</a>
            </div>
            <div class="nav-fill">
              <input type="text">
            </div>
            <div class="nav-right">
              <button type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-right">
        <div id="nav-tools">
          <a href="/">Language</a>
          <a href="/">Log in</a>
          <a href="/">Cart</a>
        </div>
      </div>
    </div>
    <div id="nav-main">
      <!--<ul>
        <li><a href="/">xxx</a></li>
        <li><a href="#">Two</a>
          <ul class="dropdown">
            <li><a href="#">Sub-1</a></li>
            <li><a href="#">Sub-2</a></li>
            <li><a href="#">Sub-3</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div>
  </div>
</header>

<br>
<br>
<br>
<br>

<body>
  
  <div class="container">
    <div class="card">
      <h2>Catálogo de Productos</h2>
      <div class="product-grid">
        <div class="product">
          <div class="product-image">
            <img src="img/cheetos.jpg" alt="Cheetos">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Cheetos</h3>
            <p>Descripción: Los cheetos de 110g</p>
            <p class="price">$1.300</p>
            <button class="add-to-cart" onclick="addToCart('cheetos', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/doritos.jpg" alt="Doritos">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Doritos</h3>
            <p>Descripción: El paquete de doritos</p>
            <p class="price">$1.300</p>
            <button class="add-to-cart" onclick="addToCart('Doritos', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/lays.jpg" alt="Papas lays">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Papas lays</h3>
            <p>Descripción:  El paquete de papas lays</p>
            <p class="price">$1.500</p>
            <button class="add-to-cart" onclick="addToCart('Papas lays', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/morocha.jpg" alt="Morocha">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Morocha</h3>
            <p>Descripción: Las morochas por unidad</p>
            <p class="price">$450</p>
            <button class="add-to-cart" onclick="addToCart('Morocha', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/Mani-salado-160-g.jpg" alt="mani salado">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Mani salado</h3>
            <p>Descripción: El mani salado de 400g </p>
            <p class="price">$1200</p>
            <button class="add-to-cart" onclick="addToCart('mani salado', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/dulce1.png" alt="Rolls">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Rolls</h3>
            <p>Descripción: El rolls de 400g </p>
            <p class="price">$1.600</p>
            <button class="add-to-cart" onclick="addToCart('Rolls', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/frugele.jpg" alt="frugele">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Frugele</h3>
            <p>Descripción: El paquete de frugele </p>
            <p class="price">$1.200</p>
            <button class="add-to-cart" onclick="addToCart('Frugele', this)">Añadir al carrito</button>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="img/dulce3.png" alt="cassata">
          </div>
          <div class="spacer"></div>
          <div class="product-details">
            <h3>Cassata</h3>
            <p>Descripción: La cassata de 1L</p>
            <p class="price">$1.400</p>
            <button class="add-to-cart" onclick="addToCart('Cassata', this)">Añadir al carrito</button>
          </div>
        </div>
        <!-- Agrega más elementos de producto aquí -->
      </div>
    </div>
    <div class="cart" id="cart-container" style="display: none;">
      <h2>Carrito de Compras</h2>
      <ul id="cart-items"></ul>
      <p id="cart-total"></p>
      <button class="checkout" onclick="checkout()">Realizar Compra</button>
    </div>
  </div>

  <scrip src = "{% static 'Scripts/scrip.js'  %}">
  
</body>

</html>