body {
    background-color: burlywood;
}

h1 {
  background-color: white;
  border: 5px rgba(255, 170, 0, 0.701) ridge;
  text-align: center;
}
.Logotipo {
  width:75px;
}   
.contenedor{
    display:flex;
    flex-direction: column;
}
  
.imagen{   
width:250px; 
height:300px;
margin-bottom: 100px;
position: relative;
bottom: -100px;
left: 200px;
     
}
.btn {
background: rgba(255, 170, 0, 0.701);
color: black;
}
.Mistral{
width:350px; 
height:180px; 
position: relative;
bottom:700px;
left: 480px; 
}
.precio1{
width:100px;
height:50px;
position: relative;
bottom:690px;
left: 480px; 
}

.carro1{
background:white;
color: black;  
position: relative;
bottom:680px;
left: 480px;
}
  
.pagar1{
background:white;
color: black;  
position: relative;
bottom:680px;
left: 500px;
}

.Royal{
width:350px; 
height:150px; 
position: relative;
bottom:550px;
left:480px; 
}
.precio2{
width:100px;
height:50px;
position: relative;
bottom:540px;
left: 480px; 
}

.carro2{
background:white;
color: black;  
position: relative;
bottom:530px;
left: 480px;
}
    
.pagar2{
background:white;
color: black;  
position: relative;
bottom:530px;
left: 500px;
}




